<div class="container">
  <div>
    <div class="title" *ngFor="let a of allData">
      <div class="individual-title">
        <a routerLink="note" (click)="onNoteClicked(a.id)">{{ a.title }}</a>

        <button class="delete-button" (click)="deleteNote(a.id)">delete</button>
      </div>
    </div>
  </div>
  <form #textForm="ngForm" (ngSubmit)="editorSaveData(textForm.value)">
    <div class="title">
      <input id="necessary-text" type="text" name="title" ngModel />
    </div>
    <div class="text-area">
      <textarea name="mainNoteContent" ngModel></textarea>
    </div>
    <div class="edit">
      <input type="submit" value="{{ editMode ? 'Edit' : 'Save' }}" />
    </div>
  </form>
</div>
